<div class="container-fluid">
    <div class="row g-3">
        <div class="col-md-6 d-flex align-items-center">
            <div class="form-check mt-4">
                {{ form_widget(form.isActive) }}
                {{ form_label(form.isActive, null, { label_attr: { class: 'form-check-label text-black' } }) }}
                <b style="color: red;">{{ form_errors(form.isActive) }}</b>
                <small class="form-text text-muted d-block mt-1">
                    {{ form_help(form.isActive) }}
                </small>
            </div>
        </div>
        <div class="col-md-6">
            {{ form_label(form.roles) }}
            <div class="d-flex flex-wrap gap-3">
                {% for choice in form.roles %}
                    <div class="form-check d-flex align-items-center">
                        {{ form_widget(choice) }}
                        {{ form_label(choice, null, { label_attr: { class: 'form-check-label text-black ms-1 mb-0' } }) }}
                    </div>
                {% endfor %}
            </div>
            <b style="color: red;">{{ form_errors(form.roles) }}</b>
            <small class="form-text text-muted d-block mt-1">
                {{ form_help(form.roles) }}
            </small>
        </div>
        <hr>
        <div class="col-md-6">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            <b style="color: red;">{{ form_errors(form.email) }}</b>
            <small class="form-text text-muted d-block mt-1">
                {{ form_help(form.email) }}
            </small>
        </div>
        <div class="col-md-6">
            {{ form_label(form.emailPrivate) }}
            {{ form_widget(form.emailPrivate) }}
            <b style="color: red;">{{ form_errors(form.emailPrivate) }}</b>
            <small class="form-text text-muted d-block mt-1">
                {{ form_help(form.emailPrivate) }}
            </small>
        </div>
        <div class="col-md-6">
            {{ form_label(form.lastName) }}
            {{ form_widget(form.lastName) }}
            <b style="color: red;">{{ form_errors(form.lastName) }}</b>
            <small class="form-text text-muted d-block mt-1">
                {{ form_help(form.lastName) }}
            </small>
        </div>
        <div class="col-md-6">
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName) }}
            <b style="color: red;">{{ form_errors(form.firstName) }}</b>
            <small class="form-text text-muted d-block mt-1">
                {{ form_help(form.firstName) }}
            </small>
        </div>
        <div class="col-md-6">
            {{ form_label(form.phonePro) }}
            {{ form_widget(form.phonePro) }}
            <b style="color: red;">{{ form_errors(form.phonePro) }}</b>
            <small class="form-text text-muted d-block mt-1">
                {{ form_help(form.phonePro) }}
            </small>
        </div>
        <div class="col-md-6">
            {{ form_label(form.phone) }}
            {{ form_widget(form.phone) }}
            <b style="color: red;">{{ form_errors(form.phone) }}</b>
            <small class="form-text text-muted d-block mt-1">
                {{ form_help(form.phone)}}
            </small>
        </div>
        <div class="col-md-6">
            {{ form_label(form.companyId) }}
            {{ form_widget(form.companyId) }}
            <b style="color: red;">{{ form_errors(form.companyId) }}</b>
            <small class="form-text text-muted d-block mt-1">
                {{ form_help(form.companyId) }}
            </small>
        </div>
        <div class="col-md-6">
            {{ form_label(form.address) }}
            {{ form_widget(form.address) }}
            <b style="color: red;">{{ form_errors(form.address) }}</b>
            <small class="form-text text-muted d-block mt-1">
                {{ form_help(form.address) }}
            </small>
        </div>
        <div class="col-md-6">
            {{ form_label(form.department) }}
            {{ form_widget(form.department) }}
            <b style="color: red;">{{ form_errors(form.department) }}</b>
            <small class="form-text text-muted d-block mt-1">
                {{ form_help(form.department) }}
            </small>
        </div>
        <div class="col-md-6">
            {{ form_label(form.avatar) }}
            {{ form_widget(form.avatar) }}
            <b style="color: red;">{{ form_errors(form.avatar) }}</b>
            <small class="form-text text-muted d-block mt-1 mb-4">
                {{ form_help(form.avatar)}}
            </small>
        </div>
    </div>
</div>
