{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block main_content %}
    <h1 class="mb-4">Modifier l'utilisateur {{ user.firstName }} {{ user.lastName }}</h1>
    <div class="d-flex justify-content-end gap-2 mb-3">
        <a href="{{ path('gestion_equipe_user_management_index') }}" class="btn btn-outline-secondary">← Retour à la liste</a>
        <button type="submit" form="user_form" class="btn btn-primary">Modifier l'utilisateur {{ user.firstName }} {{ user.lastName }}</button>
    </div>
    {{ include('user_management/_formEdit.html.twig') }}
{% endblock %}
