{% extends 'base.html.twig' %}

{% block title %}Modifier un poste{% endblock %}

{% block main_content %}
    <h1 class="mb-4">Modifier le poste {{ position.name }}</h1>

    {{ form_start(form) }}
        <div class="d-flex justify-content-end gap-2 mb-3">
            <a href="{{ path('gestion_equipe_position_index') }}" class="btn btn-outline-secondary">← Retour à la liste</a>
            <button type="submit" class="btn btn-primary">Modifier le poste {{ position.name }}</button>
        </div>
        {{ include('position/_form.html.twig') }}
    {{ form_end(form) }}
{% endblock %}
